
<div class="basic">
	{% load static %}
	{% include "partials/top.html" %}
</div>

<h2 id="rosa">Comunidades</h2>

<hr>

<body>
	
<!-- Aqui se deberia de desplegar con respecto a la informacion obtenida de la base de datos la informacion de cada comunidad-->

	

	<table>
		<label id="rosa" class="big-subtitle">Cerro del Gallo</label>
		<tr>
			<td><p> Esta es la comunidad que es ayudada por Todos Somos Comunidad. Como se podra observar, esta texto solo sirve como ejemplo para visualizar la manera en la que se despliega cierto contenido en esta seccion de la pagina, ya que mas adelante sera utilizada para desplehgara la informacion correcta de cada comunidad. </p></td>
			<td>jksdjkdsjkdsjkjhdsjlhkdsjhldshjdshjewhjdhjdsjhdsbdsghsh AQUI VA UNA FOTO DE LA COMUNIDAD</td>
		</tr>
	</table>

<hr>
	
	<table>
		<label id="rosa" class="big-subtitle">Comunidad 2</label>
		<tr>
			<td>jksdjkdsjkdsjkjhdsjlhkdsjhldshjdshjewhjdhjdsjhdsbdsghsh AQUI VA UNA FOTO DE LA COMUNIDAD</td>
			<td><p> Esta es la comunidad que es ayudada por Todos Somos Comunidad. Como se podra observar, esta texto solo sirve como ejemplo para visualizar la manera en la que se despliega cierto contenido en esta seccion de la pagina, ya que mas adelante sera utilizada para desplehgara la informacion correcta de cada comunidad. </p></td>
		</tr>
	</table>



</body>

<div class="basic">
	{% include "partials/bottom.html" %}
</div>



