
<div class="basic">
{% load static %}
{% include "partials/top.html" %}


</div>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="embed-responsive embed-responsive-21by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="bg2"></div>
</div>
<div class="container">
  <div class="row">

        <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}" class="rounded-circle" alt="Cinque Terre" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}" class="rounded-circle" alt="Cinque Terre" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}" class="rounded-circle" alt="Cinque Terre" />
            </a>
        </div>
  </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <img src="{% static "/index/images/caridad.png" %}" class="img-responsive bg" alt="Responsive image">
    </div>
</div>
<h1 align="center">Galería</h1>
<div class="row">
    <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}"  class="galeria" alt="Cinque Terre" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}"  class="galeria" alt="Cinque Terre" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}"  class="galeria" alt="Cinque Terre" />
            </a>
        </div>
</div>
<div class="row">
    <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}"  class="galeria" alt="Cinque Terre" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}"  class="galeria" alt="Cinque Terre" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}"  class="galeria" alt="Cinque Terre" />
            </a>
        </div>
</div>

</body>
<div class="basic">
{% include "partials/bottom.html" %}
</div>