
<div class="basic">
{% load static %}
{% include "partials/top.html" %}


</div>
<body>
  <br><br>
  <h2 class="padtop padleft" id="rosa">Noticias</h2>
  <br><br>
  <div class="padbottom padleft padright padbottom panel panel-default">
    <div class="panel-heading big-subtitle" id="rosa" >Comunidad Cerro de Gallo</div>
    <div class="panel-body">Aqui va la informacion de la comunidad.</div>
  </div>

  <div class="padbottom padleft padright padbottom panel panel-default">
    <div class="panel-heading big-subtitle" id="rosa" >Otra Comunidad</div>
    <div class="panel-body">Aqui va la informacion de la comunidad.</div>
  </div>

  <br><br>

</body>
<div class="basic">
{% include "partials/bottom.html" %}
</div>
