


<div class="basic">
{% load static %}
{% include "partials/top.html" %}


</div>
<h2 id="rosa">Quienes Somos</h2>

<!-- Insert image -->
<h3 class="greenbar"> Somos Solidarios! <hr>Aqui podras enviar tus datos para poder ser voluntario en nuestra organizacion.</h3>

<hr>

<body>
<div class="container">
<form>
    <!-- Aqui podria ser conveniente usar una tabla y despues usar rowsapn para que se despliegue correctamente la fotografia -->
    <div class="form-group row">
        <div class="col-xs-4" id="quienessomos">
        <label for="mission" id="contactinfo"> Mision:</label> <br>
         <label>Insert Image</label>
        </div>

        <div class="col-xs-4" id="quienessomos">
        <label for="vision" id="contactinfo"> Vision:</label> <br>
         <label>Insert Image</label>
        </div>

        <div class="col-xs-4" id="quienessomos">
        <label for="values" id="contactinfo">Valores</label> <br>
        <label>Insert Image</label>
        </div>
    </div>
        
    <div class="form-group row">
        
    </div>
        <div class="form-group row">
        <div class="col-xs-4" style="text-align: left;">
        <h3 for="politics" id="rosa"> Politicas:</h3>
        <p>Aqui se puede escribir todo lo que sea necesario para las politcas de la organizacion asi com los valores, la mision y la vision de la orrganizacion, los cuales fueron puestos y explicado en la parte de arriba. Tambien se espera que cuando una de las imagenes de una de esas tres columnas sea seleccionada esta puede desplegar la informacion que contiene dicha columna</p>
        </div>
    </div>
</form>
</div>



</div>
</body>
<div class="basic">
{% include "partials/bottom.html" %}
</div>