<div class="basic">
{% load static %}
{% include "partials/top.html" %}
</div>
<body>
<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h1 id="rosa">
                Catálogo
            </h1>
        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <input type="text" placeholder="Search..">
        </div>
    </div>
</div class="container">
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}" class="border border-success rounded-circle" alt="Cinque Terre" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}" class="border border-success rounded-circle" alt="Cinque Terre" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}" class="border border-success rounded-circle" alt="Cinque Terre" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}" class="border border-success rounded-circle" alt="Cinque Terre" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}" class="border border-success rounded-circle" alt="Cinque Terre" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}" class="border border-success rounded-circle" alt="Cinque Terre" />
            </a>
        </div>
    </div>
</div>
<div class="cotainer">
    <div class="row">
        <div class="col-sm-12">
            <h5 align="center">
                Pagina 1
            </h5>
        </div>
    </div>
</div>


</body>
<div class="basic">
{% include "partials/bottom.html" %}
</div>