<div class="basic">
{% load static %}
{% include "partials/top.html" %}
</div>
<div class="container panel">

    <div class="row">
        <div class="col-sm-4">
            <h1 class="title">
                Catálogo
            </h1>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <input type="text" placeholder="Search..">
        </div>
    </div>
    <hr>
    <div class="row">
      {% for p in products %}
        <div class="col-md-4">
          {% for i in p.imagenes.all|slice:":1" %}
          <a href="{% url 'Catalogo:producto' p.id %}"><img src="../media/{{ i.path }}" class="img-thumbnail img-fluid text-center" alt="Imagen no encontrada." /></a>
          {% endfor %}
          <h3 class="title" align="" style="padding-left: 60px;">Nombre: {{ p.nombre }}</h3>
          <h3 class="title" align="" style="padding-left: 60px;">Precio: {{ p.precio }}$</h3>
        </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="pagination">
        <span class="step-links">
          <h5 class="title" align="center">
          {% if products.has_previous %}
                <a href="?page=1">&laquo; primera</a>
                <a href="?page={{ products.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Page {{ products.number }} of {{ products.paginator.num_pages }}.
            </span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">siguiente</a>
                <a href="?page={{ products.paginator.num_pages }}">ultima &raquo;</a>
            {% endif %}
          </h5>
        </span>
      </div>
    </div>
</div class="container">
<div class="basic">
{% include "partials/bottom.html" %}
</div>
