<div class="basic">
{% load static %}
{% include "partials/top.html" %}
</div>
<div class="container">

    <div class="row">
        <div class="col-sm-4">
            <h1 class="title">
                Checkout
            </h1>
        </div>
        <div class="col-sm-4">
        </div>
<!--         <div class="col-sm-4">
            <input type="text" placeholder="Search..">
        </div> -->
    </div>
    <hr>
<!-- <table> -->

<!-- <tr>    -->
<!-- <td><h5>{{ producto.nombre }}</h5> -->
<!-- <td><p><strong>$ {{ producto.precio }}</strong></p></td> -->


<table align="center">
  <tr>
    <td width="10"><h1>Producto</h1></td>
    <td colspan="5"></td>
    <td colspan="5" width="100"></td>
    <td colspan="5" width="10"><h1>Cantidad</h1></td>
  </tr>


{% for key,value in cart.items %}
  

  
  <form method='POST'>
  <tr align="center">
  <td colspan="8" width="10"><h2>{{ key }}</h2></td><td><td></td></td>
  <td colspan="6"><h2>{{ value }}</h2></td>
  </form>
  </tr>
  
  {% endfor %}
</table>

    <div class="container row panel">
      <div class="col-xs-6">
        <form method='POST'>
            <div class="form-group row">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="comprar" value="Desea Confirmar la Compra?" class="btn btn-success active btn-green green-bg" id="comprar" align="right">
            </div>
        </form>
    </div>




<!-- </td> -->
<!-- </tr> -->
<!-- </table> -->



{% include "partials/bottom.html" %}

