<div class="basic">
{% load static %}
{% include "partials/top.html" %}
</div>
<div class="container">

 {% if messages %}
      {% for message in messages %}
      <div {% if message.tags %}  class="alert alert-success {{ message.tags }}"{% endif %}>
        <strong>¡Hola!</strong> {{ message }}
      </div>
      {% endfor %}
  {% endif %}


    <div class="row">
        <div class="col-sm-4">
            <h1 class="title">
                Catálogo
            </h1>
        </div>
        <div class="col-sm-4">
        </div>
<!--         <div class="col-sm-4">
            <input type="text" placeholder="Search..">
        </div> -->
    </div>
    <hr>

      <div class="row panel">
        <div class="col-sm-8">
            <h2 class="title" align="center">{{producto.nombre}}</h2>
        </div>
<!--         <div class="col-sm-4">
            <input type="text" placeholder="Search..">
        </div> -->
    </div>

    <br>

    <div class="row panel">
      <div class="col-sm-4">
        {% for i in producto.imagenes.all|slice:":1" %}
      <div class="col-md-4">
        <img src="../../media/{{i.path}}" class="catalogo img-circle bor" alt="Imagen no encontrada." style="width: 400px" /> <!-- {{i.path}} -->
      </div>

      <!-- <div id="myCarousel" class="carousel slide" data-interval="5000" data-ride="carousel" >
        <div class="col-md-4">
          <img src="../../media/{{i.path}}" class="catalogo img-circle bor" alt="Imagen no encontrada." style="width: 400px" />
        </div>
      </div> -->
      <!-- Insertar despues el carrusel para cuando detectan muchas imagenes para un producto -->
          {% endfor %}
      </div>
        <div class="col-sm-5" align="right">
          <h2>Precio: $ {{producto.precio}}.00</h2><br>
          <div class="row">
            <div class= "col-sm-12" align="right">

            <form method='POST'>
              <div class="form-group row">
                {% csrf_token %}
                <i>Cantidad</i><br><br>
                <input type="number" name="quantity" id="quantity" value="Inserte la cantidad" > <br><br><br>

                <input type="submit" name="AddItem" value="Agregar a Carrito de Compras" class="btn btn-success active btn-green green-bg">
              </div>
            </form>
            <!-- <input type="submit" name="Agregar" value="Agregar a Carrito de Compras" class="btn btn-success active btn-green green-bg"> -->
          </div>
          </div>
        </div>
    </div>


</div class="container">
<div class="basic">
{% include "partials/bottom.html" %}
</div>
