<div class="basic">
{% load static %}
{% include "partials/top.html" %}
</div>
<div class="container">

    <div class="row">
        <div class="col-sm-4">
            <h1 class="title">
                Tu Carrito de Compras
            </h1>
        </div>
        <div class="col-sm-4">
        </div>
<!--         <div class="col-sm-4">
            <input type="text" placeholder="Search..">
        </div> -->
    </div>
    <hr>
<!-- <table> -->

<!-- <tr>    -->
<!-- <td><h5>{{ producto.nombre }}</h5> -->
<!-- <td><p><strong>$ {{ producto.precio }}</strong></p></td> -->


<table align="center">
  <tr>
    <td><h1>Producto</h1></td>
    <td colspan="5"></td>
    <td colspan="5"></td>
    <td><h1>Cantidad</h1></td>
  </tr>


{% for key,value in cart.items %}<tr><td colspan="8">
  <h2>{{ key }}</td><td><td></td></td>
  <td><h2>{{ value }}</h2></td></tr>
  {% endfor %}
</table>

<!-- </td> -->
<!-- </tr> -->
<!-- </table> -->



{% include "partials/bottom.html" %}

