<div class="basic">
{% load static %}
{% include "partials/top.html" %}
</div>
<div class="container">


{% if messages %}
      {% for message in messages %}
      <div {% if message.tags %}  class="alert alert-danger {{ message.tags }}"{% endif %}>
        <strong>¡Hola!</strong> {{ message }}
      </div>
      {% endfor %}
  {% endif %}

    <div class="row">
        <div class="col-sm-4">
            <h1 class="title">
                Tu Carrito de Compras
            </h1>
        </div>
        <div class="col-sm-4">
        </div>
<!--         <div class="col-sm-4">
            <input type="text" placeholder="Search..">
        </div> -->
    </div>
    <hr>
<!-- <table> -->

<!-- <tr>    -->
<!-- <td><h5>{{ producto.nombre }}</h5> -->
<!-- <td><p><strong>$ {{ producto.precio }}</strong></p></td> -->


<table align="center" class = "panel">
  <tr>
    {% if request.session.total > 0 %}
    <td width="10"><h2>Producto</h2></td>
    <td colspan="5"></td>
    <td colspan="5" width="100"></td>
    <td colspan="5" width="10"><h2>Costo Total por Producto</h1></td>
    <td colspan="5" width="10"><h2>Cantidad</h2></td>
<!--     <form method='POST'> -->
    
      <td align="center"><a href="{% url 'Catalogo:checkout' %}"><input type="submit" name="checkout" value="Continuar con la Compra" class="btn btn-success active btn-green green-bg" id="checkout"></a></td>
      <td><h1>Total: <b>${{ request.session.total }} </b></h1></td>

    {% else %}
      <td><i>Tu carrito de Compras esta actualmente vacio. Agrega un producto para poder proceder.</i></td>
    {% endif %}

  </tr>

<!-- 
Para ciclar e insertar la cantidad correcta, pon otro for pero que imprima cuando el nombre del producto de la cantidad coincida con el nombre del producto en el carrito 
-->

{% for key,value in cart.items %}


  
  <form method='POST'>
  <tr align="center">
  <td colspan="8" width="10"><h2><i>{{ key }}</i></h2></td><td><td></td></td>
  <td colspan="6"><h2>$<i>{{ value }}</i></h2></td>
  {% for producto,quantity in quantity_dict.items %}
  {% if key == producto  %}
  <td colspan="5" width="10"><h1><i>{{ quantity }}</i></h1></td>
  {% endif %}
  {% endfor %}
  {% csrf_token %}
  <td><input type="submit" name="boton{{ key }}" value="Quitar Producto del Carrito de Compras" class="btn btn-danger active btn-red red-bg" id="boton{{ key }}"></td>
  </form>
  </tr> 
  {% endfor %}
</table>



<!-- </td> -->
<!-- </tr> -->
<!-- </table> -->



{% include "partials/bottom.html" %}

