.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 102%;
  padding: 0px;
  width: auto;
}

.bor{
  border-width: 5px;
  border-color: #01FF70;
  border-style: solid;
}

body, html{
   background: url("../index/images/circulos.png") no-repeat center center fixed;
    background-size: 80% 80%;
}

.title{
  color: #f48fb1;
}

.galeria{
    width: 100%;
    height:50%;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f48fb1;;
    color: white;
    text-align: center;
}
