


<div class="basic">
{% load static %}
{% include "partials/top.html" %}


</div>
<!-- <br><br> -->
<div class="card-group container border-right border-light w-75 bg-white text-dark">
    <!-- <br><br><br> -->
    <h1 class="title">
        Colabora con nosotros
    </h1>
    <hr>
    <br><br><br>
</div>
<div class="jumbotron-fluid bg-light">
  <div class="container bg-light ">
    <div class="row panel">
      <div class="col-md-4">
        <img src="{% static "/index/images/banner.png" %}" class=" text-center" alt="banner"/>
      </div>
      <div class="col-md-8">
        <h3>Aqui podras enviar tus datos para poder ser voluntario en nuestra organizacion.</h3>
      </div>
    </div>
    <br><br>
    <div class="row panel">
      <div class="col-md-6">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
        <input type="submit" name="Enviar" value="Enviar" class="btn btn-success active btn-green green-bg">
        </form>
      </div>
      <div class="col-md-6">
        {% if icolab %}
          <img src="../media/{{ icolab.path }}" class="img-thumbnail img-fluid text-center" alt="Imagen no encontrada"/>
        {% else %}
          <img src="{% static "/index/images/ninos.jpg" %}" class=" text-center" alt="ninos" />
        {% endif %}
      </div>
    </div>
    <br><br>
  </div>
</div>
<div class="basic">
{% include "partials/bottom.html" %}
</div>
