<div class="basic">
{% load static %}
{% include "partials/top.html" %}
</div>
<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h1 id="rosa">
                Catálogo
            </h1>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <input type="text" placeholder="Search..">
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <a href="#"><img src="{% static "/index/images/cinqueterre.jpg" %}" class="img-circle bor" alt="Cinque Terre" /></a>
      </div>
      <div class="col-md-4">
        <a href="#"><img src="{% static "/index/images/cinqueterre.jpg" %}" class="img-circle bor" alt="Cinque Terre" /></a>
      </div>
      <div class="col-md-4">
        <a href="#"><img src="{% static "/index/images/cinqueterre.jpg" %}" class="img-circle bor" alt="Cinque Terre" /></a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <a href="#"><img src="{% static "/index/images/cinqueterre.jpg" %}" class="img-circle bor" alt="Cinque Terre" /></a>
      </div>
      <div class="col-md-4">
        <a href="#"><img src="{% static "/index/images/cinqueterre.jpg" %}" class="img-circle bor" alt="Cinque Terre" /></a>
      </div>
      <div class="col-md-4">
        <a href="#"><img src="{% static "/index/images/cinqueterre.jpg" %}" class="img-circle bor" alt="Cinque Terre" /></a>
      </div>
    </div>
    <div class="row">
      <h5 class="title" align="center">Pagina 1</h5>
    </div>
</div class="container">
<div class="basic">
{% include "partials/bottom.html" %}
</div>
