<div class="basic">
{% load static %}
{% include "partials/top.html" %}
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-1">
        <h1 class="title">
            Comunidades
        </h1>

    </div>
  </div>
  <hr>
  {% if communities %}
 {% for c in communities %}
 <div class="row">
    <div class="col-md-12">
      <h3 class="title">{{ c.nombre }}</h3>
      <p class="lead text-justify">{{ c.descripcion }}</p>
    </div>
  </div>
  <div class="row">
    {% for i in c.imagenes.all %}
    <div class="col-md-4">
      <img src="../media/{{ i.path }}" class="img-responsive" alt="Imagen no encontrada." />
    </div>
    {% endfor %}
  </div>
  <hr>
  {% endfor %}
  <div class="pagination">
    <span class="step-links">
      <h5 class="title" align="center">
      {% if communities.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ news.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Page {{ communities.number }} of {{ communities.paginator.num_pages }}.
        </span>

        {% if communities.has_next %}
            <a href="?page={{ news.next_page_number }}">siguiente</a>
            <a href="?page={{ news.paginator.num_pages }}">ultima &raquo;</a>
        {% endif %}
      </h5>
    </span>
  </div>
  {% endif %}
</div>

<div class="basic">
{% include "partials/bottom.html" %}
</div>
