
<div class="basic">
{% load static %}
{% include "partials/top.html" %}
</div>
<br>
<div class="container">
  <div class="row">
    {% if videos %}
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="videoWrapper">
          <iframe src="{{ videos }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-2">
      </div>
      <hr>
    {% endif %}
  </div>
  {% if products %}
  <br><br><hr>
  <div class="row">
    <h1 class="title" align="center">Productos Destacados</h1>
  </div>
  <div class="row">
    {% for i in products_images %}
      <div class="col-md-4">
        <a href="#"><img src="../media/{{ i.path }}" class="img-responsive img-circle bor" alt="Imagen no encontrada." /></a>
      </div>
    {% endfor %}
    <div class="row">
      {% for p in products %}
    <div class="col-md-4">
      <h3 align="center">{{ p.nombre }}</h3>
    </div>
    {% endfor %}
    </div>

  </div>
  {% endif %}
  {% if indeximages %}
  <br><br><hr>
  <div class="row">
      <div class="col-md-12">
        <a href="#"><img src="../media/{{ indeximages.path }}" class="indeximage" alt="Imagen no encontrada." /></a>
      </div>
  </div>
  {% endif %}
  {% if galeryimages %}
  <br><hr>
  <div class="row">
    <h1 class="title" align="center">Galería</h1>
  </div>
  <br>
  <div class="row">
    {% for g in galeryimages %}
        <div class="col-sm-4">
            <a href="#">
                <img src="../media/{{ g.path }}"  class="img-responsive" alt="Cinque Terre" />
            </a>
        </div>
    {% endfor %}
  </div>
  {% endif %}
  <br>

</div>

<div class="row">
  {% include "partials/bottom.html" %}
</div>
