
<div class="basic">
{% load static %}
{% include "partials/top.html" %}
</div>
<br>
<div class="container">
  <div class="row">
    {% if videos %}
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="videoWrapper">
          <iframe src="{{ videos }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-2">
      </div>
      <hr>
    {% endif %}
  </div>
  {% if products %}
  <br><br><hr>
  <div class="row">
    <h1 class="title" align="center">Productos Destacados</h1>
  </div>
  <div class="row">
    {% for i in products_images %}
      <div class="col-md-4">
        <a href="#"><img src="../media/{{ i.path }}" class="catalogo img-circle bor" alt="Imagen no encontrada." /></a>
      </div>
    {% endfor %}
    <div class="row">
      {% for p in products %}
    <div class="col-md-4">
      <h3 align="center">{{ p.nombre }}</h3>
    </div>
    {% endfor %}
    </div>

  </div>
  {% endif %}
  {% if indeximages %}
  <br><br><hr>
  <div class="row">
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel" >
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
        {% for i in indeximages|slice:":3" %}
            {% if forloop.first %}
                <div class="active item">
            {% else %}
                <div class="item">
            {% endif %}
                <img align="center" src="../media/{{ i.path }}"  class="carouselimg" alt="Cinque Terre" width="100%" height="150px" />
              </div>
        {% endfor %}
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
  {% endif %}
  {% if galeryimages|slice:":3" %}
  <br>
  <div class="row">
    <h1 class="title" align="center">Galería</h1>
  </div>
  <br><hr>
  <div class="row">
    {% for g in galeryimages|slice:":3"%}
        <div class="col-md-4">
                <img src="../media/{{ g.path }}"  class="img-responsive" alt="Cinque Terre"/>
        </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if galeryimages|slice:"3:7" %}
  <div class="row">
    {% for g in galeryimages|slice:"3:7" %}
        <div class="col-md-4">
                <img src="../media/{{ g.path }}"  class="img-responsive" alt="Cinque Terre"/>
        </div>
    {% endfor %}
    <br><br>
  </div>
  {% endif %}

</div>

<div class="basic">
  {% include "partials/bottom.html" %}
</div>
