
<div class="basic">
{% load static %}
{% include "partials/top.html" %}
</div>
<body>
<br>
<!--
<div class="embed-responsive embed-responsive-21by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
</div>
<img src="{% static "/index/images/cinqueterre.jpg" %}" class="border border-success rounded-circle" alt="Cinque Terre" />
-->
<div class="container">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="videoWrapper">
        <iframe src="{{ videos }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-4">
      <a href="#"><img src="{% static "/index/images/cinqueterre.jpg" %}" class="img-circle bor" alt="Cinque Terre" /></a>
    </div>
    <div class="col-md-4">
      <a href="#"><img src="{% static "/index/images/cinqueterre.jpg" %}" class="img-circle bor" alt="Cinque Terre" /></a>
    </div>
    <div class="col-md-4">
      <a href="#"><img src="{% static "/index/images/cinqueterre.jpg" %}" class="img-circle bor" alt="Cinque Terre" /></a>
    </div>
  </div>
  <br>
  <div class="row">
    <h1 class="title" align="center">Galería</h1>
  </div>
<br>

  <div class="row">
    <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}"  class="galeria" alt="Cinque Terre" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}"  class="galeria" alt="Cinque Terre" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}"  class="galeria" alt="Cinque Terre" />
            </a>
        </div>
</div>
<div class="row">
    <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}"  class="galeria" alt="Cinque Terre" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}"  class="galeria" alt="Cinque Terre" />
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#">
                <img src="{% static "/index/images/cinqueterre.jpg" %}"  class="galeria" alt="Cinque Terre" />
            </a>
        </div>
</div>
</div>

<div class="basic">
{% include "partials/bottom.html" %}
</div>
