
<div class="basic">
{% load static %}
{% include "partials/top.html" %}
</div>
{% if announces %}
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ announces.titulo }}</h4>
        </div>
        <div class="modal-body">
          <p>{{ announces.texto }}</p>
            <img align="center" src="../media/{{ announces.imagen }}"  class="carouselimg" alt="Cinque Terre" width="100%" height="150px" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
{% endif %}
<div class="container">
  <div class="row">
    {% if videos %}
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="videoWrapper">
          <iframe src="{{ videos }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-2">
      </div>
      <hr>
    {% endif %}
  </div>
  {% if products %}
  <br><br><hr>
  <div class="row panel">
    <h1 class="title" align="center">Productos Destacados</h1>
  </div>
  <div class="row ">
    {% for p in products %}
     {% for i in p.imagenes.all|slice:":1" %}
      <div class="col-md-4">
        <a href="{% url 'Catalogo:producto' p.id %}"><img src="../media/{{ i.path }}" class="img-thumbnail img-fluid text-center" alt="Imagen no encontrada." /></a>
      </div>
    {% endfor %}
    {% endfor %}
  </div>
    <div class="row panel">
<!-- Aqui estaba el inicio del for del producto -->
  {% for p in products %}
    <div class="col-md-4">
      <h3 class="title" align="center">{{ p.nombre }}</h3>
      <h3 class="" align="center">Precio: $ {{ p.precio }}</h3>
    </div>
    {% endfor %}
    </div>
  {% endif %}
  {% if indeximages %}
  <br><br><hr>
  <div class="row">
    <div id="myCarousel" class="carousel slide" data-interval="5000" data-ride="carousel" >
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
        {% for i in indeximages|slice:":3" %}
            {% if forloop.first %}
                <div class="active item">
            {% else %}
                <div class="item">
            {% endif %}
                <img align="center" src="../media/{{ i.path }}"  class="carouselimg" alt="Cinque Terre" width="100%" height="150px" />
              </div>
        {% endfor %}
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
  {% endif %}
  {% if galeryimages|slice:":3" %}
  <br>
  <div class="row panel">
    <h1 class="title" align="center">Galería</h1>
  </div>
  <br><hr>
  <div class="row">
    {% for g in galeryimages|slice:":3"%}
        <div class="col-md-4">
                <img src="../media/{{ g.path }}"  class="img-thumbnail img-fluid text-center" alt="Imagen no encontrada"/>
        </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if galeryimages|slice:"3:7" %}
  <div class="row">
    {% for g in galeryimages|slice:"3:7" %}
        <div class="col-md-4">
                <img src="../media/{{ g.path }}"  class="img-thumbnail img-fluid text-center" alt="Imagen no encontrada"/>
        </div>
    {% endfor %}
    <br><br>
  </div>
  {% endif %}

</div>

<script type="text/javascript">
  {% if announces %}
    $(window).on('load',function(){
        $('#myModal').modal('show');
    });
    {% endif %}
</script>


<div class="basic">
  {% include "partials/bottom.html" %}
</div>
