

</body>
<footer class="footer">
  <div class="container">
    <div class="row">
			<div class="col-md-4">
				Contacto
			</div>
			<div class="col-md-4">
				Numero
			</div>
			<div class="col-md-4">
				Etc
			</div>
		</div>
    <div class="row">
			<div class="col-md-4">
				Contacto
			</div>
			<div class="col-md-4">
				Numero
			</div>
			<div class="col-md-4">
				Etc
			</div>
		</div>
    <div class="row">
			<div class="col-md-4">
				Contacto
			</div>
			<div class="col-md-4">
				Numero
			</div>
			<div class="col-md-4">
				Etc
			</div>
		</div>
  </div>
</footer>


</html>
