


<footer class="page-footer font-small grey lighten-1 pt-4">
	<div class="container-fluid text-center text-md-left">
		<div class="row">
			<div class="col-md-6 mt-md-0 mt-3">
				<!-- Contenido del Footer -->
				<h3>Aqui termina la pagina (Contenido del Footer)</h3>
				<p>El contenido de esta parte estara por definirse</p>
				<hr class="clearfix w-100 d-md-none pb-3">
			</div>
        <!-- Grid column -->
        		<div class="col-md-3 mb-md-0 mb-3">
        			<h3>Links</h3>
        			<ul class="list-unstyled">
		              <li>
		                <a href="#!">Link 1</a>
		              </li>
		              <li>
		                <a href="#!">Link 2</a>
		              </li>
		              <li>
		                <a href="#!">Link 3</a>
		              </li>
		              <li>
		                <a href="#!">Link 4</a>
		              </li>
		            </ul>
		        </div>
		</div>
	</div>
	<div class="footer-copyright text-center py-3">© 2018 : 
      <a href="{% url 'index:index' %}"> TodosSomosComunidad.com</a>
    </div>
</footer>


</html>