{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        </caption>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                {% if model.view_only %}
                <td><a href="{{ model.admin_url }}" class="viewlink">{% trans 'View' %}</a></td>
                {% else %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
                {% endif %}
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to view or edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent actions' %}</h2>
        <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}

        <h2>{% trans 'Reporte ventas' %}</h2>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
        <script>
          {% block jquery %}
            var endpoint = '/api/chart/data/' //{$ url "get_data"}
            $.ajax({
            method: "GET",
            url: endpoint,
          })
          {% endblock %}
        </script>

        <div class="row">
          <div class="col-sm-12" url-endpoint="/api/data/">
            <div class="panel panel-default">
              <div class="panel-body">
                <canvas id="myChart" width="300" height="200"></canvas>
              </div>
            </div>
            <script>
              var ctx = document.getElementById('myChart');
               var dates = JSON.parse('{{ dates|safe }}');
               var counts = JSON.parse('{{ counts|safe }}');
               var myChart = new Chart(ctx, {
                   type: 'line',
                   data: {
                       labels: dates,
                       datasets: [
                           {
                               data: counts,
                               label: 'Counts',
                           }
                       ]
                   }
               })
              </script>
          </div>
        </div>

        <div class="row">
        <div class="col-sm-12" url-endpoint="/api/data/">

          <div class="panel panel-default">
            <div class="panel-body">
                <canvas id="myChart" width="300" height="200"></canvas>
            </div>
          </div>

        <script>
        /*var ctx = document.getElementById("myChart").getContext('2d');
        var uno = 1;
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '# de colaboradores',
                    data: [7, 10, 4, 5, 8, 2],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });*/
            var ctx = document.getElementById('myChart');
             var dates = JSON.parse('{{ dates|safe }}');
             var counts = JSON.parse('{{ counts|safe }}');
             var myChart = new Chart(ctx, {
                 type: 'line',
                 data: {
                     labels: dates,
                     datasets: [
                         {
                             data: counts,
                             label: 'Counts',
                         }
                     ]
                 }
             })
        </script>

        <h2>{% trans 'Reporte colaboradores' %}</h2>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
          <div class="row">
            <div class="col-sm-12" url-endpoint="/api/data/">

              <div class="panel panel-default">
                <div class="panel-body">
                    <canvas id="myChart" width="300" height="200"></canvas>
                </div>
              </div>
        <script>
              var ctx = document.getElementById('myChart');
               var dates = JSON.parse('{{ dates|safe }}');
               var counts = JSON.parse('{{ counts|safe }}');
               var myChart = new Chart(ctx, {
                   type: 'line',
                   data: {
                       labels: dates,
                       datasets: [
                           {
                               data: counts,
                               label: 'Counts',
                           }
                       ]
                   }
               })
        </script>
          <div class="panel panel-default">
              <div class="panel-body">
                  <canvas id="myChart2" width="300" height="200"></canvas>
              </div>
          </div>
        <script>
              var ctx = document.getElementById('myChart2');
               var dates = JSON.parse('{{ dates|safe }}');
               var counts = JSON.parse('{{ counts|safe }}');
               var myChart = new Chart(ctx, {
                   type: 'line',
                   data: {
                       labels: dates,
                       datasets: [
                           {
                               data: counts,
                               label: 'Counts',
                           }
                       ]
                   }
               })
        </script>

        <h2>{% trans 'Reporte visitas' %}</h2>
        <script>
              var ctx = document.getElementById('myChart3');
               var dates = JSON.parse('{{ dates|safe }}');
               var counts = JSON.parse('{{ counts|safe }}');
               var myChart = new Chart(ctx, {
                   type: 'line',
                   data: {
                       labels: dates,
                       datasets: [
                           {
                               data: counts,
                               label: 'Counts',
                           }
                       ]
                   }
               })
        </script>
          <div class="panel panel-default">
              <div class="panel-body">
                  <canvas id="myChart3" width="300" height="200"></canvas>
              </div>
          </div>
        <script>
              var ctx = document.getElementById('myChart3');
               var dates = JSON.parse('{{ dates|safe }}');
               var counts = JSON.parse('{{ counts|safe }}');
               var myChart = new Chart(ctx, {
                   type: 'line',
                   data: {
                       labels: dates,
                       datasets: [
                           {
                               data: counts,
                               label: 'Counts',
                           }
                       ]
                   }
               })

        </script>
  </div>
</div>
{% endblock %}
